.selectorButton {
  width: 100%;
  font-size: 2rem;
  padding: 1.5rem;

  &:active,
  &:focus {
    box-shadow: 0px 0px 8px 1px #6FE249;
    color: #6FE249;
  }

  &:active svg,
  &:focus svg {
    color: #6FE249;
  }
}