.selectorButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 120px;
  padding: 1.5rem;

  &:active,
  &:focus {
    box-shadow: 0px 0px 8px 1px #6FE249;
    color: #6FE249;
  }

  &:active svg,
  &:focus svg,
  &:hover svg {
    color: #6FE249;
  }

  @media (max-width: 425px) {
    padding: 1rem;
  }

  svg {
    width: 4rem;
    height: 4rem;

    @media (max-width: 425px) {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  span {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-top: 1.5rem;

    @media (max-width: 425px) {
      font-size: 1.5rem;
    }
  }
}