@use "@/_variables.scss" as vars;

.input {
    background: transparent;
    outline: none;
    border: 1.5px solid vars.$primary;
    border-radius: .4rem;
    color: vars.$secondary;
    font-size: 1.5rem;
    padding: 1rem .5rem;

    &::-webkit-inner-spin-button {
        display: none;
    }

    &:focus {
        box-shadow: 0px 0px 4px .3px vars.$primary;
    }
}