.modal-opener {
    display: block;
    color: #FFFFFA;
    font-size: 2rem;
    border: 1px solid #FFFFFA;
    border-radius: 1rem;
    background: transparent;
    margin: 2.5rem auto;
    padding: 1.5rem;
    cursor: pointer;
}