@use "@/_variables.scss" as vars;

.modal-wrapper {
    width: 100svw;
    height: 100svh;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
    position: relative;
    width: 50%;
    height: 50%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 1rem;
    padding: 2rem;

    @media screen and (max-width: 1000px) {
        width: 60%;
    }

    @media screen and (max-width: 768px) {
        width: 80%;
        height: 80%;
    }

    ul,
    li {
        list-style: none;
        font-size: 1.8rem;
        padding: 0;

        @media screen and (max-width: 475px) {
            font-size: 1.5rem;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 50%;
        overflow-y: auto;

         @media screen and (max-width: 768px) {
            width: 80%;
        }
    }

    li {
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 1rem 2rem;
        border: 1px solid vars.$primary;
        border-radius: 1rem;
    }

    li span:first-child {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        text-align: center;
        white-space: nowrap;
        color: #fff;
        font-size: 1.5rem;
        background-color: vars.$primary;
        border: 10px solid vars.$primary;
        border-radius: 50%;
    }

    button {
        position: absolute;
        right: 2rem;
        top: 2rem;
        background: transparent;
        border: none;

        &:after {
            content: "";
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 16 16"><path fill="currentColor" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8L4.646 5.354a.5.5 0 0 1 0-.708"/></svg>');
            width: 4rem;
            height: 4rem;
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            top: -0.5rem;
            right: -0.5rem;
            cursor: pointer;
        }
    }
}
