.selector-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  & header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 0 auto;
  }
} 