@use "@/_variables.scss" as vars;

.label {
    width: 50%;
    font-size: 2rem;
    text-align: center;
    display: flex;
    gap: 2.5rem;
    color: vars.$secondary;
}

.select {
    border: none;
    outline: 0.5px solid vars.$secondary;
    background: transparent;
    font-size: 1.5rem;
    color: vars.$secondary;
    padding: 0.8rem;
}