#root {
  max-width: 80dvw;
  max-height: 80dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: .1rem;

  @media (max-width: 768px) {
    font-size: 4rem;
  }
}