@use "@/_variables.scss"as vars;

#root {
  max-width: 90dvw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
}

.back-btn {
  position: relative;
  display: block;
  color: vars.$primary;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  border: 1px solid vars.$primary;
  border-radius: 1rem;
  background: transparent;
  margin: 2.5rem auto;
  padding: 1.5rem;
  cursor: pointer;
  transition: box-shadow ease-in .1s;

  &.currency {
    width: 35%;
  }

  @media (pointer: fine) {
    &:hover {
      box-shadow: 0px 0px 4px 1px vars.$primary;
    }
  }

  @media (max-width: 768px) {
    font-size: 1.8rem;
  }
}

.currency-loading-icon {
  width: 6rem;
  height: 6rem;
  animation: rotate 2s linear infinite;

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}